<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <title>{{ page.title }}</title>
</head>
<body>
{% block content %}
{% endblock content %}
<script src="/bundle.js"></script>
</body>
</html>