{% macro table_of_contents_li(item) %}
<li data-id="{{ item.id }}">
    <a href="#{{ item.id }}" class="block hover:bg-indigo-100">{{ item.title }}</a>
    {{ self::table_of_contents_ol(items=item.children) }}
</li>
{% endmacro table_of_contents_li %}

{% macro table_of_contents_ol(items) %}
{% if items | length > 0 %}
<ol>
    {% for item in items %}
    {{ self::table_of_contents_li(item=item) }}
    {% endfor %}
</ol>
{% endif %}
{% endmacro table_of_contents_ol %}

{% macro table_of_contents(items) %}
<div id="table-of-contents" class="font-sans text-sm">
    {{ self::table_of_contents_ol(items=items) }}
</div>
{% endmacro table_of_contents %}