{% extends "base.html" %}
{% block content %}
<div>Something Something</div>
<div id="toc-data" class="hidden">{{ page.toc | json_encode | safe }}</div>
<div class="flex justify-between">
    <div class="basis-1/4"></div>
    <div class="prose prose-lg basis-3/4">
        {{ page.content | safe }}
    </div>
    <div class="sticky top-0 self-start basis-1/4">
        {{ macros::table_of_contents(items=page.toc) }}
    </div>
</div>
{% endblock content %}